.gradient-background {
    background: linear-gradient(300deg, #2f313f, #474E68, #767fa4);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }

  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  #testimonial{background-color: #50577A !important;}


  .c-item {
    height: 480px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  #BTN_Text{
    justify-content: center;

  }